{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div>
        <header>
            <div class="container">
                <div class="nav">
                    <div class="nav_item"><a href="{% url 'IndexUrl' %}">Rekoru</a></div>
                    <div class="nav_item"><a href="{% url 'Catalog' %}">Каталог</a></div> 
                    <div class="nav_item"><a href="{% url 'AccountsUrl' %}">Профиль</a></div>   
                </div>
            </div>
        </header>
        
        <div class="content">            
            {% block content %}
            {% endblock %}           
        </div>
    </div>
    
</body>
</html>