{% extends './base.html' %}

{% block title %}Rekoru{% endblock %}

{% block content %}
<div class="rekoru-is">
    <div class="container">
        <h1>Rekoru - это сайт для размещения своих скриптов</h1>
    </div>
</div>
<div class="footer">
    <div class="container">
        <ol>
            <li class="footer_item"><a href="{% url 'IndexUrl' %}">Главная</a></li>
            <li class="footer_item"><a href="{% url 'Catalog' %}">Каталог</a></li>
            <li class="footer_item"><a href="{% url 'AccountsUrl' %}">Профиль</a></li>
        </ol>
    </div>
</div>
{% endblock %}